@import url("https://webgl2fundamentals.org/webgl/resources/webgl-tutorials.css");
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  
}
canvas {
  width: 100vw;
  height: 100vh;
  display: block;
}

.background {
  width: 100%;
  height: 100%;
  background-image: url("./earthmap1k.jpg");
}
